venv
venv/
gpt2-finetuned/
gpt2-finetuned
__pycache__/
*.py[cod]
.ipynb_checkpoints/
gpt2-finetuned/
gpt2-finetuned/*
*.safetensors
logs/
*.log
*.csv
*.tsv
*.json
.vscode/
.idea/
.DS_Store
Thumbs.db
